.app{
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 10px auto;
}
body{
 background-color: rgb(171, 218, 201);
}
.crossed{
  text-decoration: line-through 2px rgb(78, 141, 224);
  background-color: #f0f0f0;
}
ul,li{
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.container{
  display:flex;
  justify-content: center;
}
  .add{
    margin-top: 5px;
    background: rgb(34, 184, 189);
    padding: 10px;
    border: none;
    width: 50%;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50%;
  }
  
.delete{
  background: rgb(48, 146, 150);
  padding: 10px;
  border: none;
  width: 50%;
  margin-bottom: 5px;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 50%;
}
input{
  flex:1;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}
img{
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}
h1{
  font-family: 'Montserrat', sans-serif;
  color:#419197;
}